@model ProjectStone_Models.Category

@* When this post executes a POST method, it will look for Create; asp-action *@
<form asp-action="Create" method="post">
    <div class="border p-3 bg-white">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info ps-3">Add Category</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="DisplayOrder"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DisplayOrder" class="form-control"/>
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input class="btn btn-info w-100" type="submit" value="Create"/>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-warning w-100"><i class="fas fa-sign-out-alt"></i> &nbsp; Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

@*Client side validation*@

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}